<!DOCTYPE html>
<html lang="eng">

  <head>
    <title>HW1: Different Programming Languages</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
  </head>

  <body>    
    <%- include("partials/menu.ejs")%>
    
    <hr>

    <header>
      <h1>C++</h1>
    </header>

    <hr>

    <section>
      <h1>What is C++?</h1>
      <p>
        C++ is a language that can be used to create high-performance applications. It was created by Bjarne Stroustrup. C++ also offers high level of control over system resources and memory. C++ just like Python is also an object oriented programming language.
      </p>
    </section>

    <section>
      <h1>What can C++ be used for?</h1>
      <p>C++ has many libraries and engines that can be used for various different tasks such as:
      </p>
      <ul>
        <li>
          Game development with engines such as unity
        </li>
        <li>
          Database softwares such as MySQL
        </li>
        <li>
          Operating systems
        </li>
        <li>
          Flight simulation and radar processing
        </li>
      </ul>
    </section>

    <div id="photoFlex">
    <div>
      <figure>
        <img src="css/img/c++.png" alt="c++ logo">
      </figure>
    </div>
    <div>
      <figure>
        <img src="css/img/unity.png" alt="unity logo">
      </figure>
    </div>
    <div>
      <figure>
        <img src="css/img/mysql.png" alt="mysql logo">
      </figure>
    </div>
  </div>

    <hr>

    <section>
      <cite>
        Source:
        <a href="https://www.softwaretestinghelp.com/cpp-applications/"> What is C++ used for</a>
      </cite>
      <%- include("partials/footer.ejs")%>
    </section>
    
  </body>


</html>