<!DOCTYPE html>
<html lang="eng">

  <head>
    <title>HW1: Different Programming Languages</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
  </head>

  <body>    
    <%- include("partials/menu.ejs")%>
    
    <hr>

    <header>
      <h1>Different Kinds of Programming Languages</h1>
    </header>

  
  <hr>

  <section>
    <h1>What is a programming language?</h1>
    <p>
      A programming language is a computer language programmers use to develop software programs, scripts, or other sets of instructions for computers to execute. Many programming languages can also be categorized by certain things such as high level or low level and object oriented and non object oriented.
    </p>
  </section>

  <section>
    <h1>What can you do with programming?</h1>
    <p>Programming allows you to do various things such as develop web pages, develop games and apps, AI learning etc... </p>
  </section>

  <div id="photoFlex">
    <div>
      <figure>
        <img src="css/img/python.png" alt="python logo">
      </figure>
    </div>
    <div>
      <figure>
        <img src="css/img/c++.png" alt="python logo">
      </figure>
    </div>
    <div>
      <figure>
        <img src="css/img/js.png" alt="python logo">
      </figure>
    </div>
  </div>
 
  <hr>

  <section>
    <%- include("partials/footer.ejs")%>
  </section>
  
  </body>

</html>