<!DOCTYPE html>
<html lang="eng">

  <head>
    <title>HW1: Different Programming Languages</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
  </head>

  <body>    
    <%- include("partials/menu.ejs")%>
    
    <hr>

    <header>
      <h1>Javascript</h1>
    </header>

    <hr>

    <section>
      <h1>What is Javascript?</h1>
      <p>
       JavaScript is a scripting or programming language that allows you to implement complex features on web pages. It is used in conjucntion with html and css in order to update content on the page.
      </p>
    </section>

    <section>
      <h1>What can Javascript be used for?</h1>
      <p>Javascript has many frameworks and creative capabilities that can be used for various different tasks and designs such as:
      </p>
      <ul>
        <li>
          Create mobile and web apps using popular frameworks such as React, React Native, Angular,and Vue.
        </li>
        <li>
          Browser games and applications
        </li>
        <li>
          Adding interactive behavior to webpages
        </li>
        <li>
          Web servers
        </li>
      </ul>
    </section>

    <div id="photoFlex">
    <div>
      <figure>
        <img src="css/img/js.png" alt="c++ logo">
      </figure>
    </div>
    <div>
      <code>
        console.log("hello world")
      </code>
    </div>
  </div>

    <hr>

    <section>
      <cite>
        Source:
        <a href="https://www.hackreactor.com/blog/what-is-javascript-used-for"> What is javascript used for</a>
      </cite>
      <%- include("partials/footer.ejs")%>
    </section>
    
  </body>


</html>